

.lista{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p{
  margin-right: 4%;
}

.direccionPaginacion{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

p,
.direccionPaginacion{
  margin: 5px;
  cursor: pointer;
}

.botonPaginacion{
  background-color: rgb(155, 165, 165);
  width: 100px;
  font-size: 20px;
  cursor: pointer;
}

.seeMiniPhotos{
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.photo{
  margin: 0 2% 0 0;
  width: 97%;
  height: auto;
}