.starwarsCards{
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  justify-content: center;
  width: 70vw;
  height: 65vh;
  background-color: rgb(191,11,44);/*#BF0B2C;*/
  border-radius: 10px;
  padding: 5px;
  border: 1px solid rgba(255,255,255,0.9)
}